@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FlameBold';
    src: url('/fonts/FlameBold.otf'); 
}

@font-face {
    font-family: 'Flame-Regular';
    src: url('/fonts/FlameRegular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.left-nav div {
    margin: 0 10px;
}

.left-nav .title {
    font-size: 25px;
    color: white;
    font-family: 'FlameBold', serif;
}

.left-nav .subtitle {
    color: #faaf18;
    font-family: 'Flame-Regular', serif;
}

.right-nav div {
    margin: 0 10px;
    font-size: 25px;
    color: white;
    font-family: 'FlameBold', serif;
}

.chevron-slider {
    width: 40px;
    height: 40px;
}

/* .slider-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 5px;
} */