@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FlameBold';
    src: url('/fonts/FlameBold.otf'); 
}

@font-face {
    font-family: 'Flame-Regular';
    src: url('/fonts/FlameRegular.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/BK_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* body {
    width: 100vw;
} */

.flame-regular {
    font-family: "Flame-Regular", serif;
}

.left-nav div {
    margin: 0 10px;
}

.left-nav .title {
    font-size: 25px;
    color: white;
    font-family: 'FlameBold', serif;
}

.left-nav .subtitle {
    color: #faaf18;
    font-family: 'Flame-Regular', serif;
}

.right-nav div {
    margin: 0 10px;
    font-size: 25px;
    color: white;
}

.chevron-slider {
    width: 40px;
    height: 40px;
}

/* .slider-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50px;
    grid-gap: 5px;
} */

.menu-title-wrapper {
    font-family: "FlameBold", serif;
    color: #8b542f;
    font-weight: normal;
    font-size: 32px;
}

.menu-box .bottom-part {
    font-family: 'FlameBold', serif;
}

.title-col {
    font-size: 21px;
    color: #8b542f;
    font-family: 'FlameBold', serif;
}

.order-col {
    color: white;
    font-size: 16px;
    font-family: 'Flame-Regular', serif;
}

.footer-container {
    color: white
}

.footer-container div {
    margin: 10px 0;
}

.footer-container div:first-child {
    font-size: 20px;
    font-family: 'Flame-Regular', serif;
}

.footer-container div:nth-child(3) a, .footer-container div:nth-child(3) span {
    margin-right: 10px;
    color: #919191;
    font-size: 12px;
}

.footer-container div:nth-child(3) a:hover {
    color: white;
}

/* menu */

.left-menu-group > div {
    font-family: 'Flame-Regular', serif;
    color: #502315;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.right-menu-sub > div div:nth-child(2) {
    font-family: "Flame-Regular", serif;
    margin-top: 10px;
}

.right-menu-sub > div div:nth-child(2) > p:first-child {
    font-size: 20px;
}

/* news */

.news-wrapper > a{
    
    margin: 10px 0;
}

.user-form input {
    border: 1px solid black;
    margin: 5px 10px;
}

.product-item > div:nth-child(2) .price{
    font-family: "Flame-Regular", serif;
    font-size: 30px;
}

.product-item > div:nth-child(2) .add-button button{
    font-family: "Flame-Regular", serif;
    font-size: 15px;
    background-color: #ed7801;
    color: white;
}


/* cart */

th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table {
    border-bottom: 1px solid black;
}

.cart-table tbody tr > td:first-child {
    text-align: left;
}

.cart-table tbody td {
    text-align: center;
}